.main-menu.main-menu--nojs.main-menu--opened
  nav.main-menu__container
    ul.main-menu__list
      li.main-menu__item
        a.main-menu__link(href="#") Why Hyve
      li.main-menu__item
        a.main-menu__link(href="#") Cloud Hosting
      li.main-menu__item
        a.main-menu__link(href="#") Dedicated Servers
      li.main-menu__item
        a.main-menu__link(href="#") SFTP Hosting
      li.main-menu__item
        a.main-menu__link(href="#") Colocation
      li.main-menu__item
        a.main-menu__link(href="#") Solutions
    button.btn.btn__menu-toogle.btn__menu-toogle--close(type="button") close menu


