.form-callback
  form(action="/echo" method="post")
    .form-callback__wrapper
      h2.form-callback__title Request a call back
      p.form-callback__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet sit amet elit ac <br> consequat. Aenean ornare rutrum.

      fieldset.form-callback__conteiner.form-callback__conteiner--introduce
        .form-callback__line-wrapper.form-callback__line-wrapper--introduce

          .form-callback__inp-wrapper.inp-wrapper__name
            input.form-callback__inp.form-callback__inp--name#CalbackFirstName(type="text" autocomplete="off" required)
            label.form-callback__inp-label(for="CalbackFirstName") First Name
              span.form-callback__inp-label--required-char *
            .form-callback__inp-message Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae ligula dolor. Ut varius

          .form-callback__inp-wrapper.inp-wrapper__lastname
            input.form-callback__inp.form-callback__inp--lastname#CalbackLastName(type="text" autocomplete="off" required)
            label.form-callback__inp-label(for="CalbackLastName") Last Name
              span.form-callback__inp-label--required-char *

        .form-callback__line-wrapper.form-callback__line-wrapper--contacts

          .form-callback__inp-wrapper.inp-wrapper__mail
            input.form-callback__inp.form-callback__inp--mail#CalbackLastMail(type="text" autocomplete="off" required)
            label.form-callback__inp-label(for="CalbackLastMail") Email Address
              span.form-callback__inp-label--required-char *

          .form-callback__inp-wrapper.inp-wrapper__phone
            input.form-callback__inp.form-callback__inp--phone#CalbackLastTel(type="tel" autocomplete="off" required)
            label.form-callback__inp-label(for="CalbackLastTel") Telephone
              span.form-callback__inp-label--required-char *


      fieldset.form-callback__conteiner.form-callback__conteiner--reason
        .form-callback__line-wrapper.form-callback__line-wrapper--reason
          select.form-callback__select#formCallbackReason(name="form-callback__reason" required)
            option(value disabled selected) Select a Reason
            option(value="formCallbackReasonValue-0") Reason 0
            option(value="formCallbackReasonValue-1") Reason 1
            option(value="formCallbackReasonValue-2") Reason 2
            option(value="formCallbackReasonValue-3") Reason 3

      fieldset.form-callback__conteiner.form-callback__conteiner--message
        legend.form-callback__conteiner--message-title Message
        textarea.form-callback__txtarea

      <button class="btn btn__form-callback" type="submit" name="send-formCallback-button">Send Call back</button>



